#tab_panel1 {
  position: relative;
}
#tab_panel1 H2 {
  position: absolute;
  color: #FFF;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  font-size: 1rem;
}
#tab_panel1 .tab_panel1_tab {
  position: absolute;
  bottom: -2rem;
  left: 5%;
  width: 90%;
  height: 4rem;
  background-color: #ffffff;
  box-shadow: 0rem 0.16rem 0.16rem 0rem rgba(108, 108, 108, 0.16);
  border-radius: 0.31rem;
  line-height: 4rem;
}
#tab_panel1 .tab_panel1_tab .tab_panel1_tab_item {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  line-height: 1rem;
  vertical-align: middle;
}
#tab_panel1 .tab_panel1_tab .tab_panel1_tab_item img {
  width: 1.4rem;
  margin-bottom: .2rem;
}
#tab_panel1 .tab_panel1_tab .tab_panel1_tab_item p:first-of-type {
  font-size: 0.7rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  color: #000000;
}
#tab_panel1 .tab_panel1_tab .tab_panel1_tab_item p:last-of-type {
  font-size: 0.5rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  color: #7e7e7e;
}
@media (min-width: 1200px) {
  #tab_panel1 H2 {
    font-size: 2rem;
  }
  #tab_panel1 .tab_panel1_tab {
    position: absolute;
    bottom: -2.5rem;
    left: 15%;
    width: 70%;
    height: 5rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.16rem 0.16rem 0rem rgba(108, 108, 108, 0.16);
    border-radius: 0.31rem;
    line-height: 5rem;
  }
}
#tab_panel1 .tab_panel1_bg img {
  width: 100%;
  margin: 0;
}
#tab_panel2 {
  padding: 7.5rem 0;
  background: #f7f7f7;
  overflow: hidden;
}
#tab_panel2 .tab_panel2_item {
  background: #f0f0f0;
  text-align: center;
  padding: 2rem 0;
}
#tab_panel2 .tab_panel2_item h2 {
  font-size: 1.56rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.41rem;
  letter-spacing: 0rem;
  color: #141414;
  margin-bottom: .5rem;
}
#tab_panel2 .tab_panel2_item p:nth-of-type(1) {
  font-size: 0.94rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.41rem;
  letter-spacing: 0rem;
  color: #848484;
}
#tab_panel2 .tab_panel2_item p:nth-of-type(2) {
  font-size: 0.78rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  color: #191919;
  margin-top: 1rem;
}
#tab_panel2 .tab_panel2_item p:nth-of-type(3) {
  font-size: 0.78rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.09rem;
  letter-spacing: 0rem;
  color: #4d4d4d;
  margin-top: 1rem;
}
#tab_panel3 {
  text-align: center;
  background: #f7f7f7;
  width: 100%;
}
#tab_panel3 h2 {
  font-size: 1.56rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.41rem;
  letter-spacing: 0rem;
  color: #141414;
  margin-bottom: .5rem;
}
#tab_panel3 p:nth-of-type(1) {
  font-size: 0.94rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.41rem;
  letter-spacing: 0rem;
  color: #848484;
  margin-bottom: .5rem;
}
#tab_panel3 .tab_panel3_item {
  position: relative;
  background-color: #031e31;
  box-shadow: 0rem 0.16rem 0.16rem 0rem rgba(108, 108, 108, 0.16);
  width: 100%;
  overflow: hidden;
}
#tab_panel3 .tab_panel3_item img {
  width: 48rem;
  height: 23.06rem;
  max-width: 48rem;
}
#tab_panel3 .tab_panel3_item .tab_panel3_item_wrap_p {
  position: absolute;
  width: 13rem;
  height: .5rem;
  left: 50%;
  bottom: .5rem;
  margin-left: -6.5rem;
}
#tab_panel3 .tab_panel3_item .tab_panel3_item_wrap {
  width: 100%;
  position: absolute;
  bottom: 2.5rem;
  left: 1.5rem;
  overflow: scroll;
}
#tab_panel3 .tab_panel3_item .tab_panel3_item_wrap::-webkit-scrollbar {
  display: none;
}
#tab_panel3 .tab_panel3_item .tab_panel3_item_wrap img {
  width: 46.34rem;
  height: 17rem;
  max-width: 46.34rem;
}
@media (min-width: 1200px) {
  #tab_panel3 .tab_panel3_item .tab_panel3_item_wrap {
    overflow: hidden;
  }
}
#tab_panel4 {
  background: #f7f7f7;
  text-align: center;
  padding-top: 7.5rem;
}
#tab_panel4 h2 {
  font-size: 1.56rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.41rem;
  letter-spacing: 0rem;
  color: #141414;
  margin-bottom: .5rem;
}
#tab_panel4 p:nth-of-type(1) {
  font-size: 0.94rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.41rem;
  letter-spacing: 0rem;
  color: #848484;
  margin-bottom: .5rem;
}
#tab_panel4 .tab_panel4_wrap {
  position: relative;
  background: url(../imgs/tab_panel4_wrap_bg_m.png) no-repeat;
  background-size: cover;
  padding: 5rem 0;
  margin-top: 3rem;
}
#tab_panel4 .tab_panel4_wrap .tab_panel4_tab {
  position: absolute;
  top: -2rem;
  left: 5%;
  width: 90%;
  height: 4rem;
  background-color: #ffffff;
  box-shadow: 0rem 0.16rem 0.16rem 0rem rgba(108, 108, 108, 0.16);
  border-radius: 0.31rem;
  line-height: 4rem;
}
#tab_panel4 .tab_panel4_wrap .tab_panel4_tab .tab_panel4_tab_item {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  line-height: 1rem;
  vertical-align: middle;
}
#tab_panel4 .tab_panel4_wrap .tab_panel4_tab .tab_panel4_tab_item img {
  width: 1.4rem;
  margin-bottom: .2rem;
}
#tab_panel4 .tab_panel4_wrap .tab_panel4_tab .tab_panel4_tab_item p:first-of-type {
  font-size: 0.7rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  color: #000000;
  margin-bottom: 0;
}
#tab_panel4 .tab_panel4_wrap .tab_panel4_tab .tab_panel4_tab_item p:last-of-type {
  font-size: 0.5rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rem;
  color: #7e7e7e;
}
@media (min-width: 1200px) {
  #tab_panel4 .tab_panel4_wrap .tab_panel4_tab {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 5rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.16rem 0.16rem 0rem rgba(108, 108, 108, 0.16);
    border-radius: 0.31rem;
    line-height: 5rem;
  }
}
@media (min-width: 768px) {
  #tab_panel4 .tab_panel4_wrap {
    background: url(../imgs/tab_panel4_wrap_bg.jpg) no-repeat;
  }
}
#tab_panel4 .tab_panel5_item {
  text-align: center;
  height: 6.6rem;
  margin-bottom: 1rem;
}
#tab_panel4 .tab_panel5_item img {
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  margin-top: 1.2rem;
}
#tab_panel4 .tab_panel5_item h4 {
  font-size: 0.5rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1rem;
  letter-spacing: 0rem;
  color: #fff;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  #tab_panel4 .tab_panel5_item {
    border-left: 1px solid #c7c7c7;
  }
  #tab_panel4 div:nth-child(1) {
    border-left: none;
  }
  #tab_panel4 div:nth-child(5) {
    border-left: none;
  }
}
#tab_panel4 h3 {
  font-size: 0.8rem;
  font-weight: 900;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}
#tab_panel5 {
  background-color: #1d1d1d;
  overflow: hidden;
}
#tab_panel5 .bottom_logo {
  width: 4.1rem;
  height: 1.2rem;
  margin: 3.5rem auto 1.6rem;
  background: url(../imgs/bottom_logo.png) no-repeat;
  background-size: contain;
}
#tab_panel5 p {
  font-family: PingFangSC-Medium;
  font-size: 0.6rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.8rem;
  letter-spacing: 0rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3.5rem;
}
